.gradle
/build/
out/
.idea/
gradle/
# Ignore Gradle GUI config
gradle-app.setting
bin
.project

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
build
